name: html scraper

on:
  push:
    branches:
      main
  schedule:
    - cron: "0 0 */1 * *" # every day

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - name: install dependencies
        run: npm install
      - name: scrape html
        run: npm run scrape:html all
        env:
          NODE_ENV: gh-actions
      - name: parse html
        run: npm run parse:html
      - name: generate static html
        run: npm run generate:html
      - name: commit file
        run: |
          git config --local user.email "parlrep@users.noreply.github.com"
          git config --local user.name "parlrep"
          git add ./html-scraper-states-all.json
          git add ./meeting-sessions.json
          git add ./downloaded-html/**/*.html
          git add ./docs/index.html
          git commit -m "Update at $(date)"
          git push
